<!--<!doctype html>-->
<!--<html>-->
<!--<head><title>Attendance Log</title></head>-->
<!--<body>-->
<!--  <h1>Attendance Log</h1>-->
<!--  <table border="1">-->
<!--    <tr><th>Student ID</th><th>Name</th><th>Timestamp</th></tr>-->
<!--    {% for log in logs %}-->
<!--      <tr>-->
<!--        <td>{{ log['student_id'] }}</td>-->
<!--        <td>{{ log['name'] }}</td>-->
<!--        <td>{{ log['timestamp'] }}</td>-->
<!--      </tr>-->
<!--    {% endfor %}-->
<!--  </table>-->
<!--</body>-->
<!--</html>-->
